

.container {
  width: 100%;
  padding-top:10px;
}

.container .row {
  margin-bottom: 1rem;
}

.container .row > [class^="col"] {
  padding-right: 0;
  padding-left: 0;
}

.box {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
  text-align:center;
}

/* Container holding the image and the text */
.imgcontainer {
  position: relative;
  text-align: center;
  color: white;
  background-color:black;
}


/* Centered text */
.imgcentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.homeimg {
  width:100px;
}
.homep {
  margin:30px;
}



/* Basic */





@media screen and (max-width: 1680px) {

  .container {
    width: 1200px;
  }

}

@media screen and (max-width: 1280px) {

  .container {
    width: 100%;
  }

}

@media screen and (max-width: 960px) {

  .container {
    width: 100%;
  }

}

@media screen and (max-width: 840px) {

  .container {
    width: 100%;
  }

}

@media screen and (max-width: 736px) {

  .container {
    width: 100%;
  }

}

@media screen and (max-width: 1680px) {

  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row.aln-left {
    justify-content: flex-start;
  }

  .row.aln-center {
    justify-content: center;
  }

  .row.aln-right {
    justify-content: flex-end;
  }

  .row.aln-top {
    align-items: flex-start;
  }

  .row.aln-middle {
    align-items: center;
  }

  .row.aln-bottom {
    align-items: flex-end;
  }

  .row > .imp-wide {
    order: -1;
  }

  .row > .col-1-wide {
    width: 8.33333%;
  }

  .row > .off-1-wide {
    margin-left: 8.33333%;
  }

  .row > .col-2-wide {
    width: 16.66667%;
  }

  .row > .off-2-wide {
    margin-left: 16.66667%;
  }

  .row > .col-3-wide {
    width: 25%;
  }

  .row > .off-3-wide {
    margin-left: 25%;
  }

  .row > .col-4-wide {
    width: 33.33333%;
  }

  .row > .off-4-wide {
    margin-left: 33.33333%;
  }

  .row > .col-5-wide {
    width: 41.66667%;
  }

  .row > .off-5-wide {
    margin-left: 41.66667%;
  }

  .row > .col-6-wide {
    width: 50%;
  }

  .row > .off-6-wide {
    margin-left: 50%;
  }

  .row > .col-7-wide {
    width: 58.33333%;
  }

  .row > .off-7-wide {
    margin-left: 58.33333%;
  }

  .row > .col-8-wide {
    width: 66.66667%;
  }

  .row > .off-8-wide {
    margin-left: 66.66667%;
  }

  .row > .col-9-wide {
    width: 75%;
  }

  .row > .off-9-wide {
    margin-left: 75%;
  }

  .row > .col-10-wide {
    width: 83.33333%;
  }

  .row > .off-10-wide {
    margin-left: 83.33333%;
  }

  .row > .col-11-wide {
    width: 91.66667%;
  }

  .row > .off-11-wide {
    margin-left: 91.66667%;
  }

  .row > .col-12-wide {
    width: 100%;
  }

  .row > .off-12-wide {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
  }

  .row.gtr-0 > * {
    padding: 0px 0 0 0px;
  }

  .row.gtr-0.gtr-uniform {
    margin-top: 0px;
  }

  .row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
  }

  .row.gtr-25 {
    margin-top: -10px;
    margin-left: -10px;
  }

  .row.gtr-25 > * {
    padding: 10px 0 0 10px;
  }

  .row.gtr-25.gtr-uniform {
    margin-top: -10px;
  }

  .row.gtr-25.gtr-uniform > * {
    padding-top: 10px;
  }

  .row.gtr-50 {
    margin-top: -20px;
    margin-left: -20px;
  }

  .row.gtr-50 > * {
    padding: 20px 0 0 20px;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -20px;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 20px;
  }

  .row {
    margin-top: -40px;
    margin-left: -40px;
  }

  .row > * {
    padding: 40px 0 0 40px;
  }

  .row.gtr-uniform {
    margin-top: -40px;
  }

  .row.gtr-uniform > * {
    padding-top: 40px;
  }

  .row.gtr-150 {
    margin-top: -60px;
    margin-left: -60px;
  }

  .row.gtr-150 > * {
    padding: 60px 0 0 60px;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -60px;
  }

  .row.gtr-150.gtr-uniform > * {
    padding-top: 60px;
  }

  .row.gtr-200 {
    margin-top: -80px;
    margin-left: -80px;
  }

  .row.gtr-200 > * {
    padding: 80px 0 0 80px;
  }

  .row.gtr-200.gtr-uniform {
    margin-top: -80px;
  }

  .row.gtr-200.gtr-uniform > * {
    padding-top: 80px;
  }

}

@media screen and (max-width: 1280px) {

  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row.aln-left {
    justify-content: flex-start;
  }

  .row.aln-center {
    justify-content: center;
  }

  .row.aln-right {
    justify-content: flex-end;
  }

  .row.aln-top {
    align-items: flex-start;
  }

  .row.aln-middle {
    align-items: center;
  }

  .row.aln-bottom {
    align-items: flex-end;
  }

  .row > .imp-normal {
    order: -1;
  }

  .row > .col-1-normal {
    width: 8.33333%;
  }

  .row > .off-1-normal {
    margin-left: 8.33333%;
  }

  .row > .col-2-normal {
    width: 16.66667%;
  }

  .row > .off-2-normal {
    margin-left: 16.66667%;
  }

  .row > .col-3-normal {
    width: 25%;
  }

  .row > .off-3-normal {
    margin-left: 25%;
  }

  .row > .col-4-normal {
    width: 33.33333%;
  }

  .row > .off-4-normal {
    margin-left: 33.33333%;
  }

  .row > .col-5-normal {
    width: 41.66667%;
  }

  .row > .off-5-normal {
    margin-left: 41.66667%;
  }

  .row > .col-6-normal {
    width: 50%;
  }

  .row > .off-6-normal {
    margin-left: 50%;
  }

  .row > .col-7-normal {
    width: 58.33333%;
  }

  .row > .off-7-normal {
    margin-left: 58.33333%;
  }

  .row > .col-8-normal {
    width: 66.66667%;
  }

  .row > .off-8-normal {
    margin-left: 66.66667%;
  }

  .row > .col-9-normal {
    width: 75%;
  }

  .row > .off-9-normal {
    margin-left: 75%;
  }

  .row > .col-10-normal {
    width: 83.33333%;
  }

  .row > .off-10-normal {
    margin-left: 83.33333%;
  }

  .row > .col-11-normal {
    width: 91.66667%;
  }

  .row > .off-11-normal {
    margin-left: 91.66667%;
  }

  .row > .col-12-normal {
    width: 100%;
  }

  .row > .off-12-normal {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
  }

  .row.gtr-0 > * {
    padding: 0px 0 0 0px;
  }

  .row.gtr-0.gtr-uniform {
    margin-top: 0px;
  }

  .row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
  }

  .row.gtr-25 {
    margin-top: -9px;
    margin-left: -9px;
  }

  .row.gtr-25 > * {
    padding: 9px 0 0 9px;
  }

  .row.gtr-25.gtr-uniform {
    margin-top: -9px;
  }

  .row.gtr-25.gtr-uniform > * {
    padding-top: 9px;
  }

  .row.gtr-50 {
    margin-top: -18px;
    margin-left: -18px;
  }

  .row.gtr-50 > * {
    padding: 18px 0 0 18px;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -18px;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 18px;
  }

  .row {
    margin-top: -36px;
    margin-left: -36px;
  }

  .row > * {
    padding: 36px 0 0 36px;
  }

  .row.gtr-uniform {
    margin-top: -36px;
  }

  .row.gtr-uniform > * {
    padding-top: 36px;
  }

  .row.gtr-150 {
    margin-top: -54px;
    margin-left: -54px;
  }

  .row.gtr-150 > * {
    padding: 54px 0 0 54px;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -54px;
  }

  .row.gtr-150.gtr-uniform > * {
    padding-top: 54px;
  }

  .row.gtr-200 {
    margin-top: -72px;
    margin-left: -72px;
  }

  .row.gtr-200 > * {
    padding: 72px 0 0 72px;
  }

  .row.gtr-200.gtr-uniform {
    margin-top: -72px;
  }

  .row.gtr-200.gtr-uniform > * {
    padding-top: 72px;
  }

}

@media screen and (max-width: 960px) {

  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row.aln-left {
    justify-content: flex-start;
  }

  .row.aln-center {
    justify-content: center;
  }

  .row.aln-right {
    justify-content: flex-end;
  }

  .row.aln-top {
    align-items: flex-start;
  }

  .row.aln-middle {
    align-items: center;
  }

  .row.aln-bottom {
    align-items: flex-end;
  }

  .row > .imp-narrow {
    order: -1;
  }

  .row > .col-1-narrow {
    width: 8.33333%;
  }

  .row > .off-1-narrow {
    margin-left: 8.33333%;
  }

  .row > .col-2-narrow {
    width: 16.66667%;
  }

  .row > .off-2-narrow {
    margin-left: 16.66667%;
  }

  .row > .col-3-narrow {
    width: 25%;
  }

  .row > .off-3-narrow {
    margin-left: 25%;
  }

  .row > .col-4-narrow {
    width: 33.33333%;
  }

  .row > .off-4-narrow {
    margin-left: 33.33333%;
  }

  .row > .col-5-narrow {
    width: 41.66667%;
  }

  .row > .off-5-narrow {
    margin-left: 41.66667%;
  }

  .row > .col-6-narrow {
    width: 50%;
  }

  .row > .off-6-narrow {
    margin-left: 50%;
  }

  .row > .col-7-narrow {
    width: 58.33333%;
  }

  .row > .off-7-narrow {
    margin-left: 58.33333%;
  }

  .row > .col-8-narrow {
    width: 66.66667%;
  }

  .row > .off-8-narrow {
    margin-left: 66.66667%;
  }

  .row > .col-9-narrow {
    width: 75%;
  }

  .row > .off-9-narrow {
    margin-left: 75%;
  }

  .row > .col-10-narrow {
    width: 83.33333%;
  }

  .row > .off-10-narrow {
    margin-left: 83.33333%;
  }

  .row > .col-11-narrow {
    width: 91.66667%;
  }

  .row > .off-11-narrow {
    margin-left: 91.66667%;
  }

  .row > .col-12-narrow {
    width: 100%;
  }

  .row > .off-12-narrow {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
  }

  .row.gtr-0 > * {
    padding: 0px 0 0 0px;
  }

  .row.gtr-0.gtr-uniform {
    margin-top: 0px;
  }

  .row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
  }

  .row.gtr-25 {
    margin-top: -8px;
    margin-left: -8px;
  }

  .row.gtr-25 > * {
    padding: 8px 0 0 8px;
  }

  .row.gtr-25.gtr-uniform {
    margin-top: -8px;
  }

  .row.gtr-25.gtr-uniform > * {
    padding-top: 8px;
  }

  .row.gtr-50 {
    margin-top: -16px;
    margin-left: -16px;
  }

  .row.gtr-50 > * {
    padding: 16px 0 0 16px;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -16px;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 16px;
  }

  .row {
    margin-top: -32px;
    margin-left: -32px;
  }

  .row > * {
    padding: 32px 0 0 32px;
  }

  .row.gtr-uniform {
    margin-top: -32px;
  }

  .row.gtr-uniform > * {
    padding-top: 32px;
  }

  .row.gtr-150 {
    margin-top: -48px;
    margin-left: -48px;
  }

  .row.gtr-150 > * {
    padding: 48px 0 0 48px;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -48px;
  }

  .row.gtr-150.gtr-uniform > * {
    padding-top: 48px;
  }

  .row.gtr-200 {
    margin-top: -64px;
    margin-left: -64px;
  }

  .row.gtr-200 > * {
    padding: 64px 0 0 64px;
  }

  .row.gtr-200.gtr-uniform {
    margin-top: -64px;
  }

  .row.gtr-200.gtr-uniform > * {
    padding-top: 64px;
  }

}

@media screen and (max-width: 840px) {

  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row.aln-left {
    justify-content: flex-start;
  }

  .row.aln-center {
    justify-content: center;
  }

  .row.aln-right {
    justify-content: flex-end;
  }

  .row.aln-top {
    align-items: flex-start;
  }

  .row.aln-middle {
    align-items: center;
  }

  .row.aln-bottom {
    align-items: flex-end;
  }

  .row > .imp-narrower {
    order: -1;
  }

  .row > .col-1-narrower {
    width: 8.33333%;
  }

  .row > .off-1-narrower {
    margin-left: 8.33333%;
  }

  .row > .col-2-narrower {
    width: 16.66667%;
  }

  .row > .off-2-narrower {
    margin-left: 16.66667%;
  }

  .row > .col-3-narrower {
    width: 25%;
  }

  .row > .off-3-narrower {
    margin-left: 25%;
  }

  .row > .col-4-narrower {
    width: 33.33333%;
  }

  .row > .off-4-narrower {
    margin-left: 33.33333%;
  }

  .row > .col-5-narrower {
    width: 41.66667%;
  }

  .row > .off-5-narrower {
    margin-left: 41.66667%;
  }

  .row > .col-6-narrower {
    width: 50%;
  }

  .row > .off-6-narrower {
    margin-left: 50%;
  }

  .row > .col-7-narrower {
    width: 58.33333%;
  }

  .row > .off-7-narrower {
    margin-left: 58.33333%;
  }

  .row > .col-8-narrower {
    width: 66.66667%;
  }

  .row > .off-8-narrower {
    margin-left: 66.66667%;
  }

  .row > .col-9-narrower {
    width: 75%;
  }

  .row > .off-9-narrower {
    margin-left: 75%;
  }

  .row > .col-10-narrower {
    width: 83.33333%;
  }

  .row > .off-10-narrower {
    margin-left: 83.33333%;
  }

  .row > .col-11-narrower {
    width: 91.66667%;
  }

  .row > .off-11-narrower {
    margin-left: 91.66667%;
  }

  .row > .col-12-narrower {
    width: 100%;
  }

  .row > .off-12-narrower {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
  }

  .row.gtr-0 > * {
    padding: 0px 0 0 0px;
  }

  .row.gtr-0.gtr-uniform {
    margin-top: 0px;
  }

  .row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
  }

  .row.gtr-25 {
    margin-top: -8px;
    margin-left: -8px;
  }

  .row.gtr-25 > * {
    padding: 8px 0 0 8px;
  }

  .row.gtr-25.gtr-uniform {
    margin-top: -8px;
  }

  .row.gtr-25.gtr-uniform > * {
    padding-top: 8px;
  }

  .row.gtr-50 {
    margin-top: -16px;
    margin-left: -16px;
  }

  .row.gtr-50 > * {
    padding: 16px 0 0 16px;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -16px;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 16px;
  }

  .row {
    margin-top: -32px;
    margin-left: -32px;
  }

  .row > * {
    padding: 32px 0 0 32px;
  }

  .row.gtr-uniform {
    margin-top: -32px;
  }

  .row.gtr-uniform > * {
    padding-top: 32px;
  }

  .row.gtr-150 {
    margin-top: -48px;
    margin-left: -48px;
  }

  .row.gtr-150 > * {
    padding: 48px 0 0 48px;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -48px;
  }

  .row.gtr-150.gtr-uniform > * {
    padding-top: 48px;
  }

  .row.gtr-200 {
    margin-top: -64px;
    margin-left: -64px;
  }

  .row.gtr-200 > * {
    padding: 64px 0 0 64px;
  }

  .row.gtr-200.gtr-uniform {
    margin-top: -64px;
  }

  .row.gtr-200.gtr-uniform > * {
    padding-top: 64px;
  }

}

@media screen and (max-width: 736px) {

  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row.aln-left {
    justify-content: flex-start;
  }

  .row.aln-center {
    justify-content: center;
  }

  .row.aln-right {
    justify-content: flex-end;
  }

  .row.aln-top {
    align-items: flex-start;
  }

  .row.aln-middle {
    align-items: center;
  }

  .row.aln-bottom {
    align-items: flex-end;
  }

  .row > .imp-mobile {
    order: -1;
  }

  .row > .col-1-mobile {
    width: 8.33333%;
  }

  .row > .off-1-mobile {
    margin-left: 8.33333%;
  }

  .row > .col-2-mobile {
    width: 16.66667%;
  }

  .row > .off-2-mobile {
    margin-left: 16.66667%;
  }

  .row > .col-3-mobile {
    width: 25%;
  }

  .row > .off-3-mobile {
    margin-left: 25%;
  }

  .row > .col-4-mobile {
    width: 33.33333%;
  }

  .row > .off-4-mobile {
    margin-left: 33.33333%;
  }

  .row > .col-5-mobile {
    width: 41.66667%;
  }

  .row > .off-5-mobile {
    margin-left: 41.66667%;
  }

  .row > .col-6-mobile {
    width: 50%;
  }

  .row > .off-6-mobile {
    margin-left: 50%;
  }

  .row > .col-7-mobile {
    width: 58.33333%;
  }

  .row > .off-7-mobile {
    margin-left: 58.33333%;
  }

  .row > .col-8-mobile {
    width: 66.66667%;
  }

  .row > .off-8-mobile {
    margin-left: 66.66667%;
  }

  .row > .col-9-mobile {
    width: 75%;
  }

  .row > .off-9-mobile {
    margin-left: 75%;
  }

  .row > .col-10-mobile {
    width: 83.33333%;
  }

  .row > .off-10-mobile {
    margin-left: 83.33333%;
  }

  .row > .col-11-mobile {
    width: 91.66667%;
  }

  .row > .off-11-mobile {
    margin-left: 91.66667%;
  }

  .row > .col-12-mobile {
    width: 100%;
  }

  .row > .off-12-mobile {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
  }

  .row.gtr-0 > * {
    padding: 0px 0 0 0px;
  }

  .row.gtr-0.gtr-uniform {
    margin-top: 0px;
  }

  .row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
  }

  .row.gtr-25 {
    margin-top: -5px;
    margin-left: -5px;
  }

  .row.gtr-25 > * {
    padding: 5px 0 0 5px;
  }

  .row.gtr-25.gtr-uniform {
    margin-top: -5px;
  }

  .row.gtr-25.gtr-uniform > * {
    padding-top: 5px;
  }

  .row.gtr-50 {
    margin-top: -10px;
    margin-left: -10px;
  }

  .row.gtr-50 > * {
    padding: 10px 0 0 10px;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -10px;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 10px;
  }

  .row {
    margin-top: -20px;
    margin-left: -20px;
  }

  .row > * {
    padding: 20px 0 0 20px;
  }

  .row.gtr-uniform {
    margin-top: -20px;
  }

  .row.gtr-uniform > * {
    padding-top: 20px;
  }

  .row.gtr-150 {
    margin-top: -30px;
    margin-left: -30px;
  }

  .row.gtr-150 > * {
    padding: 30px 0 0 30px;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -30px;
  }

  .row.gtr-150.gtr-uniform > * {
    padding-top: 30px;
  }

  .row.gtr-200 {
    margin-top: -40px;
    margin-left: -40px;
  }

  .row.gtr-200 > * {
    padding: 40px 0 0 40px;
  }

  .row.gtr-200.gtr-uniform {
    margin-top: -40px;
  }

  .row.gtr-200.gtr-uniform > * {
    padding-top: 40px;
  }

}

/* Sections/Article */

/* Image */




/* Divided */

ul.divided {
  list-style: none;
  padding-left: 0;
}

ul.divided li {
  border-top: solid 1px rgba(128, 128, 128, 0.2);
  padding-top: 1.5em;
  margin-top: 1.5em;
  padding-left: 0;
}

ul.divided li:first-child {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
}

/* Menu */

ul.menu {
  height: 1em;
  line-height: 1em;
  list-style: none;
  padding-left: 0;
}

ul.menu li {
  display: inline-block;
  border-left: solid 1px rgba(128, 128, 128, 0.2);
  padding-left: 1.25em;
  margin-left: 1.25em;
}

ul.menu li:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}

/* Icons */

ul.icons {
  position: relative;
  background: rgba(128, 128, 128, 0.05);
  border-radius: 4em;
  display: inline-block;
  padding: 0.35em 0.75em 0.35em 0.75em;
  font-size: 1.25em;
  cursor: default;
  list-style: none;
}

ul.icons li {
  display: inline-block;
  padding-left: 0;
}

ul.icons li a {
  display: inline-block;
  background: none;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 100%;
  border: 0;
  color: inherit;
}

ul.icons li a:hover {
  color: #ef8376;
}


#header {
  position: relative;
  background-image: url("./images/header.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: black;
  text-align: center;
  padding: 7.5em 0 2em 0;
  cursor: default;
}

#header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#header .inner {
  position: relative;
  z-index: 1;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

#header header {
  display: inline-block;
}




/* Nav */

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1.5em 0 1.5em 0;
  z-index: 1;
  overflow: hidden;
  color: white;
  background-color:black;
}

#nav > ul {
  line-height: 0px;
  position: relative;
  display: inline-block;
  margin: 0;
  height: 21px;
  border-left: solid 1px rgba(192, 192, 192, 0.35);
  border-right: solid 1px rgba(192, 192, 192, 0.35);
}

#nav > ul:before, #nav > ul:after {
  content: '';
  display: block;
  width: 300%;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  height: 5px;
  border-top: solid 1px rgba(192, 192, 192, 0.35);
  border-bottom: solid 1px rgba(192, 192, 192, 0.35);
}

#nav > ul:before {
  left: 100%;
  margin-left: 1px;
}

#nav > ul:after {
  right: 100%;
  margin-right: 1px;
}

#nav > ul > li {
  display: inline-block;
  margin: -9px 0.5em 0 0.5em;
  border-radius: 0.5em;
  padding: 0.85em;
  border: solid 1px transparent;
  -moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}



#nav > ul > li > a, #nav > ul > li > span {
  display: block;
  color: inherit;
  text-decoration: none;
  border: 0;
  outline: 0;
}

#nav > ul > li > ul {
  display: none;
}


/* Banner */

#banner {
  background: #fff;
  text-align: center;
  padding: 4.5em 0 4.5em 0;
  margin-bottom: 0;
}

#banner header > p {
  margin-bottom: 0;
}

/* Content */

/* Main */


/* Footer */

#footer {
  position: relative;
  overflow: hidden;
  padding: 6em 0 6em 0;
  background: #2b252c;
  color: #fff;
}

#footer .icon.circled {
  background: #fff;
  color: #2b252c;
}

#footer header {
  text-align: center;
  cursor: default;
}

#footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
  color: #fff;
}

#footer .contact {
  text-align: center;
}

#footer .contact p {
  text-align: center;
  margin: 0 0 3em 0;
}

#footer .copyright {
  text-align: center;
  color: rgba(128, 128, 128, 0.75);
  font-size: 0.8em;
  cursor: default;
}

#footer .copyright a {
  color: rgba(128, 128, 128, 0.75);
}

#footer .copyright a:hover {
  color: rgba(212, 212, 212, 0.85);
}

/* Carousel */

/* Wide */

@media screen and (max-width: 1680px) {

  /* Basic */

  body, input, textarea, select {
    font-size: 14pt;
    line-height: 1.75em;
  }

  /* Carousel */

  .carousel {
    padding: 1.5em 0 1.5em 0;
  }

  .carousel .reel {
    padding: 0 1.5em 0 1.5em;
  }

  .carousel article {
    width: 18em;
    margin: 0 1.25em 0 0;
  }

}

/* Normal */

@media screen and (max-width: 1280px) {

  /* Basic */

  body, input, textarea, select {
    font-size: 12pt;
    line-height: 1.5em;
  }

  /* Wrapper */

  .wrapper {
    padding-left: 2em;
    padding-right: 2em;
  }

  /* Header */

  #header {
    background-attachment: scroll;
  }

  #header .inner {
    padding-left: 2em;
    padding-right: 2em;
  }

  /* Banner */

  #banner {
    padding-left: 2em;
    padding-right: 2em;
  }

  /* Footer */

  #footer {
    padding-left: 2em;
    padding-right: 2em;
  }

}



@media screen and (max-width: 840px) {

  /* Basic */

  body, input, textarea, select {
    font-size: 13pt;
    line-height: 1.65em;
  }

  .tweet {
    text-align: center;
  }

  .timestamp {
    display: block;
    text-align: center;
  }

  /* Footer */

  #footer {
    padding: 4em 2em 4em 2em;
  }

  /* Carousel */

  .carousel {
    padding: 1.25em 0 1.25em 0;
  }

  .carousel article {
    width: 18em;
    margin: 0 1em 0 0;
  }

}


@media screen and (max-width: 736px) {

  /* Basic */

  html, body {
    overflow-x: hidden;
  }

  body, input, textarea, select {
    font-size: 12.5pt;
    line-height: 1.5em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.25em;
  }

  hr {
    top: 3em;
    margin-bottom: 6em;
  }

  /* Section/Article */

  section, article {
    margin-bottom: 2em;
  }

  section:last-child, article:last-child {
    margin-bottom: 0;
  }

  .row > section, .row > article {
    margin-bottom: 2em;
  }

  header > p {
    font-size: 1.25em;
  }

  /* Image */

  .image.featured {
    margin: 0 0 2em 0;
  }

  .image.left {
    margin: 0 1em 1em 0;
  }

  .image.centered {
    margin: 0 0 1em 0;
  }

  /* Actions */

  form ul.actions {
    margin-top: 0;
  }

  ul.actions li {
    display: block;
    margin: 0.75em 0 0 0;
  }

  ul.actions li:first-child {
    margin-top: 0;
  }

  /* Menu */

  ul.menu {
    height: auto;
    text-align: center;
  }

  ul.menu li {
    display: block;
    border: 0;
    padding: 0.75em 0 0 0;
    margin: 0;
  }

  ul.menu li:first-child {
    padding-top: 0;
  }

  /* Icons */

  ul.icons {
    font-size: 1em;
    padding: 0.35em 0.5em 0.35em 0.5em;
  }

  ul.icons li a {
    width: 2.25em;
  }


  /* Nav */



  body.homepage #header {
    min-height: 0;
    padding: 5.5em 0 5em 0;
    height: auto;
  }

  body.homepage #header:before {
    display: none;
  }

  body.homepage #header h1 {
    font-size: 2.5em;
  }

  /* Nav */





}
